.carousel-general {
  box-shadow: 0px 2px 2px black;
  /* border-bottom: 2px solid black; */
}

.carousel-second-div {
  height: 40vh;
  opacity: 0.8;
}

.carousel-item img {
  transform: translateY(-300px); /* сместил изображение вверх по вертикали*/
  /* width: 100%; */
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* четвертый набор - переход с черного на прозрачное с хроматизмом*/
H1 {
  font-family: 'Comfortaa', sans-serif;
  /* font-family: 'Roboto Flex', sans-serif; */
  font-weight: 700;
  font-size: 80px;
  color: rgb(8, 8, 8);
  text-shadow:
  0px 0px 10px #aaaaaa,
  1px 1px 0 #aaaaaa,
  1px -1px 0 #aaaaaa,
  -1px 1px 0 #aaaaaa,
  -1px -1px 0 #aaaaaa;
  transition: all 0.3s;
  position: absolute;
  transform: translateY(-200px);
  /* top: 150px; */
  /* text-align: center; */
  mix-blend-mode: multiply;
}

body {
  background-color: #242424;
  /* font-family: Georgia; */
}

.carus-img {
  object-fit: cover;
  width: 100%;
}

.info-button {
  color: #6d6d6d;
}

/* .top_gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
} */



/* .gallery {
  position: relative;
  justify-content: center;
  align-items: center;
} */

.logo_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  opacity: 100%;
  z-index: 5;
}

.name_site_on_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color:#353535;
  position: absolute;
  top: 138px;
  opacity: 90%;
  z-index: 10;
}

/*первый набор - переход с черного размытия на прозрачное со светлым размытием*/
/* H1 {
    font-size: 120px;
    color: rgb(8, 8, 8);
    text-shadow:
    0px 0px 10px #aaaaaa,
    1px 1px 0 #aaaaaa,
    1px -1px 0 #aaaaaa,
    -1px 1px 0 #aaaaaa,
    -1px -1px 0 #aaaaaa;
    transition: all 0.3s;
    position: absolute;
    top: 150px;
    text-align: center;
    mix-blend-mode: multiply;
  }

H1:hover {
  font-size: 120px;
  text-shadow:
    2px 2px 5px rgb(187, 187, 187),
    1px 1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(255, 255, 255),
    -1px -1px 0 rgb(255, 255, 255);
    mix-blend-mode:difference;
} */


  /*второй набор - аберрации и белое свечение*/
  /* H1 {
  font-size: 80px;
  color: rgb(8, 8, 8);
  text-shadow:
    0px 0px 1px rgb(0, 0, 0),
    1px 1px 0 rgb(20, 141, 50),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(136, 85, 132);
  transition: all 0.3s;
  position: absolute;
  top: 150px;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
  mix-blend-mode: screen;
}

H1:hover {
  font-size: 75px;
  text-shadow:
  0px 0px 10px #aaaaaa,
  1px 1px 0 #aaaaaa,
  1px -1px 0 #aaaaaa,
  -1px 1px 0 #aaaaaa,
  -1px -1px 0 #aaaaaa;
  } */

/* третий набор - просто черное свечение, как будто размытый текст, без перехода */
/* H1 {
  font-size: 120px;
  color: rgb(8, 8, 8);
  text-shadow:
  0px 0px 10px #aaaaaa,
  1px 1px 0 #aaaaaa,
  1px -1px 0 #aaaaaa,
  -1px 1px 0 #aaaaaa,
  -1px -1px 0 #aaaaaa;
  transition: all 0.3s;
  position: absolute;
  top: 150px;
  text-align: center;
  mix-blend-mode: multiply;
} */

/* H1:hover {
font-size: 120px;
text-shadow:
  0px 0px 0px rgb(187, 187, 187),
  2px 2px 0 #ec4545,
  1px -1px 0 #ec4545,
  -2px 2px 0 #46d4e7,
  -1px -1px 0 #46d4e7;
  mix-blend-mode: difference;
} */

.tag-search-input {
  background-color: #303030;
  color: silver;
}

.tag-search-input::placeholder {
  color: silver;
}

.tag-search-input:focus {
  background-color: #303030;
  color: silver;
  box-shadow: none;
}

.tag-search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #303030 inset;
  box-shadow: 0 0 0 30px #303030 inset;
  color: silver;
}

.card-tag {
  cursor: default;
}

.popover_information {
  color: greenyellow;
}

.popover_information:hover {
  cursor: help;
  text-shadow: 0px 0px 2px greenyellow;
}

.popover {
  color: greenyellow;
  background-color: DarkSlateGray;
}

.popover-body {
  color: silver !important;
}

.pagination .page-item a {
  background-color: DarkSlateGray;
  border: 1px solid black;
  color: silver;
}

.pagination .active .page-link {
  background-color: rgb(26, 43, 43);
  border: 1px solid black;
  color: silver;
}
