.carousel-general {
  box-shadow: 0px 2px 2px black;
  /* border-bottom: 2px solid black; */
}

.carousel-second-div {
  height: 500px;
  opacity: 0.15;
}

.carousel-item img {
  transform: translateY(-300px); /* сместил изображение вверх по вертикали
  /* mix-blend-mode: overlay; */
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h1 {
  position: absolute;
  top: 150px;
  text-align: center;
}

body {
  background-color: #242424;
  font-family: Georgia;
}

.top_gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -4px;
}

/* .gallery {
  position: relative;
  justify-content: center;
  align-items: center;
} */

.logo_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  opacity: 100%;
  z-index: 5;
}

.name_site_on_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color:#353535;
  position: absolute;
  top: 138px;
  opacity: 90%;
  z-index: 10;
}

H1 {
  font-size: 80px;
  text-shadow:
    2px 2px 2px rgb(0, 0, 0), /* добавил для размытой тени контура */
    1px 1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),
    -1px 1px 0 rgb(0, 0, 0),
    -1px -1px 0 rgb(0, 0, 0);
  /* color: #212529; */
  transition: all 1s;
}

H1:hover {
  font-size: 75px;
  text-shadow:
  6px 6px 10px rgb(0, 0, 0), /* добавил для размытой тени контура */
  1px 1px 0 rgb(0, 0, 0),
  1px -1px 0 rgb(0, 0, 0),
  -1px 1px 0 rgb(0, 0, 0),
  -1px -1px 0 rgb(0, 0, 0);
  }