.carousel-general {
  width: 100%;
  box-shadow: 0px 2px 2px black;
  /* border-bottom: 2px solid black; */
}

.carousel-second-div {
  aspect-ratio: 16 / 4;
  opacity: 0.8;
}

.carus-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transform: translateY(-200px); /* сместил изображение вверх по вертикали*/
}

.brand-name {
  display: flex;
  justify-content: center;
}

/* четвертый набор - переход с черного на прозрачное с хроматизмом*/
.title_href {
  font-family: "Vollkorn SC", serif;
  font-weight: 600;
  font-style: normal;
  /* font-family: 'Georgia'; */
  /* font-family: 'Roboto Flex', sans-serif; */
  /* font-weight: 700; */
  letter-spacing: 15px;
  font-size: 5vw;
  color: rgb(8, 8, 8);
  transition: 0.3s;
  text-shadow:
  0px 0px 10px rgb(131, 131, 131),
  1px 1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  -1px -1px 0 #000000;
  position: absolute;
  top: 10vi;
  text-decoration: none;
  opacity: 0.8;
  mix-blend-mode: difference;
}

.title_href:hover {
  color: rgb(8, 8, 8);
  text-shadow:
  0px 0px 10px rgb(255, 255, 255),
  1px 1px 0 #000000,
  1px -1px 0 #000000,
  -1px 1px 0 #000000,
  -1px -1px 0 #000000;
  transition: 0.3s;
  position: absolute;
  mix-blend-mode: difference;
}

body {
  background-color: #242424;
  /* font-family: 'Verdana', sans-serif; */
  /* font-family: 'Georgia'; */
}

.carus-img {
  object-fit: cover;
  width: 100%;
}

.logo_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 110px;
  opacity: 100%;
  z-index: 5;
}

.name_site_on_gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color:#353535;
  position: absolute;
  top: 138px;
  opacity: 90%;
  z-index: 10;
}

.tag-search-input {
  background-color: #303030;
  color: silver;
}

.tag-search-input::placeholder {
  color: silver;
}

.tag-search-input:focus {
  background-color: #303030;
  color: silver;
  box-shadow: none;
}

.tag-search-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #303030 inset;
  box-shadow: 0 0 0 30px #303030 inset;
  color: silver;
}





.pagination .page-item a {
  background-color: DarkSlateGray;
  border: 1px solid black;
  color: silver;
}

.pagination .active .page-link {
  background-color: rgb(26, 43, 43);
  border: 1px solid black;
  color: silver;
}
