{% load static %}
{% load sass_tags %}
{% load el_pagination_tags %}


<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
		<link rel="stylesheet" href="{% static 'css/assets/main.css' %}"/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<noscript><link rel="stylesheet" href="css/assets/noscript.css"/></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="№"><strong>Macro</strong> by Popov Nikolay</a></h1>
						<nav>
							<ul>
								<li><a href="#footer" class="icon solid fa-info-circle">О сайте</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						{% paginate all_photo %}{% get_pages %}
						{% for photo in all_photo %}
						<article class="thumb" title="{{ photo.description }}">
							<a href="{{ photo.photo.url }}" class="image"><img src="{{ photo.photo.url }}" alt="{{ photo.description }}" /></a>
							<h2>{{ photo.title }}</h2>
						</article>
						<p class="tags">{{ photo.description }}</p>
						{% comment %} <small>{{ photo.tags.all }}</small> {% endcomment %}
						{% endfor %}
						{% comment %} {% show_more %} {% endcomment %}
						Показаны изображения с
						{{ pages.current_start_index }} по {{ pages.current_end_index }} из
						{{ pages.total_count }}.
						{# Just print pages to render the Digg-style pagination. #}
						{% show_more %}


					</div>

				<!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Сайт посвященный <strong>макрофотографии</strong></h2>
									<p>Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum eget quis orci mattis aliquet. Maecenas fringilla et ante at lorem et ipsum. Dolor nulla eu bibendum sapien. Donec non pharetra dui. Nulla consequat, ex ut suscipit rutrum, mi dolor tincidunt erat, et scelerisque turpis ipsum.</p>
								</section>
								<section>
									<h2>Follow me on ...</h2>
									<ul class="icons">
										<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="https://github.com/nickppv" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="fa-brands fa-vk"><span class="label"></span></a></li>
										<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
									</ul>
								</section>
								<p class="copyright">
									&copy; Unttled. Design: <a href="http://html5up.net">HTML5 UP</a>.
								</p>
							</div>
							{% comment %} <div>
								<section>
									<h2>Get in touch</h2>
									<form method="post" action="#">
										<div class="fields">
											<div class="field half">
												<input type="text" name="name" id="name" placeholder="Name" />
											</div>
											<div class="field half">
												<input type="text" name="email" id="email" placeholder="Email" />
											</div>
											<div class="field">
												<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
											</div>
										</div>
										<ul class="actions">
											<li><input type="submit" value="Send" class="primary" /></li>
											<li><input type="reset" value="Reset" /></li>
										</ul>
									</form>
								</section>
							</div> {% endcomment %}
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			<script src="https://kit.fontawesome.com/c90aafdde2.js" crossorigin="anonymous"></script>
			<script src="{% static 'js/assets/jquery.min.js' %}"></script>
			<script src="{% static 'js/assets/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'js/assets/browser.min.js' %}"></script>
			<script src="{% static 'js/assets/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/assets/util.js' %}"></script>
			<script src="{% static 'js/assets/main.js' %}"></script>



			{% block js %}
				<script src="http://code.jquery.com/jquery-latest.js"></script>
				{% comment %} <script src="{% static 'js/assets/el-pagination.js'%}"></script> {% endcomment %}
				<script>
					$.endlessPaginate({paginateOnScroll: true,
					paginateOnScrollMargin: 200, });
				</script>
			{% endblock %}
	</body>
</html>