{% load static %}
{% load sass_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    {% comment %} шрифт Pacifico {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    {% comment %} шрифт Comfortaa {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Roboto+Flex:wght@200;400;600&display=swap" rel="stylesheet">
    {% comment %} шрифт rubik {% endcomment %}


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/lightbox.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    {% comment %} <link rel="stylesheet" href="{% sass_src 'css/top_gallery/style.scss'%}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% sass_src 'css/main_gallery/photobox.scss'%}"> {% endcomment %}
    {% comment %} <script src="https://kit.fontawesome.com/c90aafdde2.js" crossorigin="anonymous"></script> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'css/top_gallery/style.css'%}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/lightbox.css'%}">
    {% comment %} <link rel="stylesheet" href="{% static 'css/main_gallery/photobox.css'%}"> {% endcomment %}
    {% comment %} скрипт для masonry для bootstrap {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

  </head>
<body>

  <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade carousel-general" data-bs-ride="carousel">
    <div class="carousel-inner carousel-second-div">
      {% for i in slider_photo_list %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="5000">  {% comment %} делаем проверку: если элемент первый - делаем его активным (active). без этого слайдер не работает {% endcomment %}
        <img src="{{i.photo.url}}" class="d-block h-100" alt="{{i.photo.description}}">
      </div>
      {% endfor %}
    </div>
    <div class="brand-name">
      <h1 title="Чмок!" style="pointer-events: none">I-MACRO</h1>
    </div>
  </div>

  {% comment %} {% for r in res %}
    <p>
      {{r.photo}}
    </p>
  {%endfor%} {% endcomment %}
  {% comment %} <div class="container">
    <div class="row top_gallery d-none d-md-block">
      <div class="gallery">
        <div class="demo__gallery">
          <div class="demo__placeholder"></div>
        </div>
      </div>

      <div class="logo_gallery">
        <img src="{% static '/img/logo/camera_transp2.png' %}" alt="Just logo" title="Чмок!">
      </div>
      <div class="logo_gallery">
        <h1>X-MACRO</h1>
      </div>
    </div>
  </div> {% endcomment %}


  <div class="container">
    <div class="row main-gallery" data-masonry='{"percentPosition": true }'>
        {% for photo in all_photo %}
            <div class="card main-gallery-card gx-1 rounded">
              <a href="{{photo.photo.url}}" data-lightbox="roadtrip" data-title="{{photo.title}}"><img src="{{photo.photo.url}}" class="card-img-top figure-img rounded" alt="{{photo.title}}"></a>
              <div class="card-body-text">
                 <div> {% comment %} блок для названия изображения и кнопки информации {% endcomment %}
                  <div class="d-inline">
                    <h4 class="card-title d-inline">{{ photo.title }}</h4>
                  </div>
                  {% if photo.information %}
                    <span tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="{{ photo.information}}">
                      <button class="btn btn-sm btn-secondary info-button" type="button">?</button>
                    </span>
                  {% endif %}
                </div>
                <p class="card-description">{{ photo.description }}</p>
                <p class="card-tag">Теги:
                  {% for tag in photo.tags.all %}
                   <a class="tag-class" href="{% url 'macro_gallery:result_by_tag' tag.slug %}">{{ tag.name }}</a>
                  {% endfor %}
                </p>
              </div>
            </div>
        {% endfor %}
    </div>
  </div>




  {% comment %} <div class="container">
    <div class="row">
      {% for photo in all_photo %}
      <div class="main_gallery">
        <div id='gallery'>
          <a href="{{photo.photo.url}}">
              <img src="{{photo.photo.url}}"
                  title="{{photo.title}}">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div> {% endcomment %}

  {% comment %} скрипт для инициализации всплывающих информационных сообщений {% endcomment %}
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>

  {% comment %} скрипт для галереи top_gallery {% endcomment %}
  <script>
    "use strict";
    $(document).ready(function() {

    var rows = 4; //change this also in css
    var cols = 15; //change this also in css
    var staggerTime = 150;

    var urls = JSON.parse('{{ images_top_gallery|escapejs }}');

    var $gallery = $(".demo__gallery");
    var $help = $(".demo__help");
    var partsArray = [];
    var reqAnimFr = (function() {
      return window.requestAnimationFrame || function(cb) {
        setTimeout(cb, 1000 / 60);
      }
    })();


    $gallery.html('');
    for (let row = 1; row <= rows; row++) {
      partsArray[row - 1] = [];
      for (let col = 1; col <= cols; col++) {
        $gallery.append(`<div class="show-front demo__part demo__part-${row}-${col}" row="${row}" col="${col}"><div class="demo__part-back"><div class="demo__part-back-inner"></div></div><div class="demo__part-front"></div></div>`);
        partsArray[row - 1][col - 1] = new Part();
      }
    }

    var $parts = $(".demo__part");
    var $image = $(".demo__part-back-inner");
    var help = true;

    for (let i = 0; i < $parts.length; i++) {
      $parts.find(".demo__part-front").eq(i).css("background-image", `url(${urls[i]})`);
    }

    $gallery.on("click", ".demo__part-front", function() {

      $image.css("background-image", $(this).css("background-image"));
      if (help) {
        $help.html("Click any of the tiles to get back");
        help = false;
      }

      let row = +$(this).closest(".demo__part").attr("row");
      let col = +$(this).closest(".demo__part").attr("col");
      waveChange(row, col);
    });

    $gallery.on("click", ".demo__part-back", function() {
      if (!isShowingBack()) return;

      $help.html(`Check out my other <a target="blank" href="https://codepen.io/kiyutink/">pens</a> and follow me on <a target="_blank" href="https://twitter.com/kiyutin_k">twitter</a>`);

      setTimeout(function() {
        for (let row = 1; row <= rows; row++) {
          for (let col = 1; col <= cols; col++) {
            partsArray[row - 1][col - 1].showing = "front";
          }
        }
      }, staggerTime + $parts.length * staggerTime / 10);


      showFront(0, $parts.length);

    });

    function showFront(i, maxI) {
      if (i >= maxI) return;
      $parts.eq(i).addClass("show-front");

      reqAnimFr(function() {
        showFront(i + 1);
      });
    }

    function isShowingBack() {
      return partsArray[0][0].showing == "back" && partsArray[0][cols - 1].showing == "back" && partsArray[rows - 1][0].showing == "back" && partsArray[rows - 1][cols - 1].showing == "back";
    }

    function Part() {
      this.showing = "front";
    }

    function waveChange(rowN, colN) {
      if (rowN > rows || colN > cols || rowN <= 0 || colN <= 0) return;
      if (partsArray[rowN - 1][colN - 1].showing == "back") return;
      $(".demo__part-" + rowN + "-" + colN).removeClass("show-front");
      partsArray[rowN - 1][colN - 1].showing = "back";
      setTimeout(function() {
        waveChange(rowN + 1, colN);
        waveChange(rowN - 1, colN);
        waveChange(rowN, colN + 1);
        waveChange(rowN, colN - 1);
      }, staggerTime);
    }
    });
  </script>
</body>
</html>